description = "Displays membership boxes on home page"
==
<div id="block3">
    <section id="myYMembership" class="band band--">
        <h2 data-color="blue" class="tab tab--blue">
            <span>Membership</span>
        </h2>
        <div class="pagewrapper">
            <div class="intro center">
                <p>Own a little piece of Yorkshire!</p>
            </div>

            <div class="grid" data-itemratio="310x291" data-cols="4@640,2@480,1" data-spacing="19">
                <div class="grid__inner">
                    <div class="grid__itemwrapper">
                        <div class="grid__item">
                            <article class="block block block--hasimage block--blue block--wtyfeaturecontent">
                                <a href="/become-a-member/my-y-membership" target="" class="block__link">
                                    <div class="block__media">
                                        <div class="block__image">
                                            <noscript
                                                data-slimmage="true"
                                                data-img-src="https://www.yorkshire.com/media//81541/pm-my-tree1800x870px-2-01.jpg?anchor=center&mode=crop&quality=100&width=310&heightratio=0.9387096774193548387096774194"
                                                data-img-alt="My y Membership "
                                                data-img-class="slimmage"
                                            >
                                                <img
                                                    src="https://www.yorkshire.com/media//81541/pm-my-tree1800x870px-2-01.jpg?anchor=center&mode=crop&quality=100&width=310&heightratio=0.9387096774193548387096774194"
                                                    alt="My y Membership "
                                                    class="slimmage"
                                                />
                                            </noscript>
                                        </div>
                                        <h4 class="tab tab--blue tab--small">
                                            <span>Membership</span>
                                        </h4>
                                        <div class="block__contentouter">
                                            <div class="block__content">
                                                <h3 class="heading--secondary">
                                                    My y Membership
                                                </h3>
                                                <div class="block__hovercontent">
                                                    <p>
                                                        Play Yorkshire&#39;s my Y membership supports the creation of the new woodlands across Yorkshire as part of our Trees for Yorkshire partnership.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="grid__item">
                            <article class="block block block--hasimage block--blue block--wtyfeaturecontent">
                                <a href="/become-a-member/our-membership-donations" target="" class="block__link">
                                    <div class="block__media">
                                        <div class="block__image">
                                            <noscript
                                                data-slimmage="true"
                                                data-img-src="https://www.yorkshire.com/media//81490/image-hannah-cockroft-james-mason-overgate-hospice-team.jpg?anchor=center&mode=crop&quality=100&width=310&heightratio=0.9387096774193548387096774194"
                                                data-img-alt="Our Membership Donations "
                                                data-img-class="slimmage"
                                            >
                                                <img
                                                    src="https://www.yorkshire.com/media//81490/image-hannah-cockroft-james-mason-overgate-hospice-team.jpg?anchor=center&mode=crop&quality=100&width=310&heightratio=0.9387096774193548387096774194"
                                                    alt="Our Membership Donations "
                                                    class="slimmage"
                                                />
                                            </noscript>
                                        </div>
                                        <h4 class="tab tab--blue tab--small">
                                            <span>Membership</span>
                                        </h4>
                                        <div class="block__contentouter">
                                            <div class="block__content">
                                                <h3 class="heading--secondary">
                                                    Our Membership Donations
                                                </h3>
                                                <div class="block__hovercontent">
                                                    <p>
                                                        Many organisations are turning to our membership initiative to pay tribute to worthy causes or individuals throughout the county.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="grid__item">
                            <article class="block block block--hasimage block--blue block--wtyfeaturecontent">
                                <a href="/become-a-member/our-membership-stories" target="" class="block__link">
                                    <div class="block__media">
                                        <div class="block__image">
                                            <noscript
                                                data-slimmage="true"
                                                data-img-src="https://www.yorkshire.com/media//81493/trees-resized-3.jpg?anchor=center&mode=crop&quality=100&width=310&heightratio=0.9387096774193548387096774194"
                                                data-img-alt="Our Membership Stories "
                                                data-img-class="slimmage"
                                            >
                                                <img
                                                    src="https://www.yorkshire.com/media//81493/trees-resized-3.jpg?anchor=center&mode=crop&quality=100&width=310&heightratio=0.9387096774193548387096774194"
                                                    alt="Our Membership Stories "
                                                    class="slimmage"
                                                />
                                            </noscript>
                                        </div>
                                        <h4 class="tab tab--blue tab--small">
                                            <span>Membership</span>
                                        </h4>
                                        <div class="block__contentouter">
                                            <div class="block__content">
                                                <h3 class="heading--secondary">
                                                    Our Membership Stories
                                                </h3>
                                                <div class="block__hovercontent">
                                                    <p>
                                                        Tree Dedications&#160; We want to connect with Yorkshire folk around the world and for every paid membership a tree will be planted for you in Yorkshire to help create beautiful
                                                        woodlands for everyone...
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="grid__item">
                            <article class="block block block--hasimage block--blue block--wtyfeaturecontent">
                                <a href="/become-a-member/our-yorkshire-patrons" target="" class="block__link">
                                    <div class="block__media">
                                        <div class="block__image">
                                            <noscript
                                                data-slimmage="true"
                                                data-img-src="https://www.yorkshire.com/media//81586/captain-tom-tiy-header.jpg?anchor=center&mode=crop&quality=100&width=310&heightratio=0.9387096774193548387096774194"
                                                data-img-alt="Our Membership Patrons "
                                                data-img-class="slimmage"
                                            >
                                                <img
                                                    src="https://www.yorkshire.com/media//81586/captain-tom-tiy-header.jpg?anchor=center&mode=crop&quality=100&width=310&heightratio=0.9387096774193548387096774194"
                                                    alt="Our Membership Patrons "
                                                    class="slimmage"
                                                />
                                            </noscript>
                                        </div>
                                        <h4 class="tab tab--blue tab--small">
                                            <span>Membership</span>
                                        </h4>
                                        <div class="block__contentouter">
                                            <div class="block__content">
                                                <h3 class="heading--secondary">
                                                    Our Membership Patrons
                                                </h3>
                                                <div class="block__hovercontent">
                                                    <p>
                                                        We awarded some of our favourite Yorkshire men and women a tree when our initiative on the on the 1st August (Yorkshire Day).
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center buttons">
                <a href="/become-a-member?utm_source=YcomHP&amp;utm_medium=cpc&amp;utm_campaign=personalmembership" target="" class="button button--blue button--chevronr">Buy now</a>
            </div>
        </div>
    </section>
</div>