description = "Displays slider on home page"
==
<div id="block1">
    <div class="home-video-carousel">
        <div class="home-video-carousel__items">
            <div class="carousel">
                <div class="home-video-carousel__item carousel__item" style="background-image: url(https://www.yorkshire.com/media/52481/alwoodley6.jpg);">
                </div>
                <button class="carousel-nav__btn carousel-nav__btn--backward d-none"><span class="fa fa-2x fa-angle-left"></span></button>
                <button class="carousel-nav__btn carousel-nav__btn--forward d-none"><span class="fa fa-2x fa-angle-right"></span></button>
            </div>

            <div class="home-video-carousel__timestamp-links heading--thin">
                <a href="/become-a-member">
                    Become a member<span class="icon icon--round"><span class="fa fa-2x fa-angle-right" style="margin-left: 2px;"></span></span>
                </a>
            </div>
        </div>

        <div class="home-video-carousel__content">
            <h2 class="home-video-carousel__heading heading--normal heading--primary">Latest Yorkshire Golf Tourism News</h2>
            <ul class="home-video-carousel__links">
                <li class="heading--thin">
                    <a href="#" class="home-video-carousel__link">
                        <span class="home-video-carousel__link-icon icon icon--round">
                            <span class="fa fa-2x fa-angle-right" style="margin-left: 2px;"></span>
                        </span>
                        Quick Link Here
                    </a>
                </li>
                <li class="heading--thin">
                    <a href="#" class="home-video-carousel__link">
                        <span class="home-video-carousel__link-icon icon icon--round">
                            <span class="fa fa-2x fa-angle-right" style="margin-left: 2px;"></span>
                        </span>
                        Quick Link Here
                    </a>
                </li>
                <li class="heading--thin">
                    <a href="#" class="home-video-carousel__link">
                        <span class="home-video-carousel__link-icon icon icon--round">
                            <span class="fa fa-2x fa-angle-right" style="margin-left: 2px;"></span>
                        </span>
                        Quick Link Here
                    </a>
                </li>
                <li class="heading--thin">
                    <a href="#" class="home-video-carousel__link">
                        <span class="home-video-carousel__link-icon icon icon--round">
                            <span class="fa fa-2x fa-angle-right" style="margin-left: 2px;"></span>
                        </span>
                        Quick Link Here
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>