description = "Mega Menu for Navigation"
==
<div class="megamenus">
    <div class="megamenu megamenu--places">
        <div class="pagewrapper">
            <div class="megamenu__mobileback chevl"><a href="#">Back</a></div>
            <h2 class="magamenu__heading orange">Golf Clubs</h2>
            <div class="row">
                <div class="col col--x4 megamenu__primary">
                    <a
                        class="megamenu__featuredlink button--orange"
                        href="/golf-clubs"
                        target=""
                        >All Yorkshire Golf Clubs</a
                    >
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="/golf-clubs/north-yorkshire" target="">North Yorkshire Golf Clubs</a>
                        </li>
                        <li class="menu__item">
                            <a href="/golf-clubs/east-yorkshire" target="">East Yorkshire Golf Clubs</a>
                        </li>
                        <li class="menu__item">
                            <a href="/golf-clubs/south-yorkshire" target="">South Yorkshire Golf Clubs</a>
                        </li>
                        <li class="menu__item">
                            <a href="/golf-clubs/west-yorkshire" target="">West Yorkshire Golf Clubs</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Mackenzie Trail</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Ryder Cup Trail</a>
                        </li>
                    </ul>
                </div>

                <div class="col col--x4 megamenu__secondary">
                    <h3>Courses to Try</h3>
                    <ul class="menu">
                       {% partial 'global/mega-menu-golf-clubs' %}
                    </ul>
                </div>

                <div class="col col--x4 megamenu__tertiary">
                    <article
                        class="block block block--hasimage block-- block--wtyfeatureinline"
                    >
                        <a href="#" class="block__link">
                            <div class="block__media">
                                <div class="block__image">
                                    <img
                                        src="http://via.placeholder.com/400"
                                        alt=""
                                    />
                                </div>
                                <div class="block__contentouter">
                                    <div class="block__content">
                                        <h3 class="heading--secondary"></h3>
                                        <div class="block__hovercontent"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="megamenu megamenu--thingstodo">
        <div class="pagewrapper">
            <div class="megamenu__mobileback chevl"><a href="#">Back</a></div>
            <h2 class="magamenu__heading mint">Open Days</h2>
            <div class="row">
                <div class="col col--x4 megamenu__primary">
                    <a
                        class="megamenu__featuredlink button--mint"
                        href="#"
                        target=""
                        >All Open Days</a
                    >
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="#" target="">Link to type of day</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to type of day</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to type of day</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to type of day</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to type of day</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to type of day</a>
                        </li>
                    </ul>
                </div>

                <div class="col col--x4 megamenu__secondary">
                    <h3>Upcoming Open Days</h3>
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="#" target="">Name of open day</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Name of open day</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Name of open day</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Name of open day</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Name of open day</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Name of open day</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Name of open day</a>
                        </li>
                    </ul>
                </div>

                <div class="col col--x4 megamenu__tertiary">
                    <article
                        class="block block block--hasimage block-- block--wtyfeatureinline"
                    >
                        <a href="#" class="block__link">
                            <div class="block__media">
                                <div class="block__image">
                                    <img
                                        src="http://via.placeholder.com/400"
                                        alt=""
                                    />
                                </div>
                                <div class="block__contentouter">
                                    <div class="block__content">
                                        <h3 class="heading--secondary"></h3>
                                        <div class="block__hovercontent"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="megamenu megamenu--stay">
        <div class="pagewrapper">
            <div class="megamenu__mobileback chevl"><a href="#">Back</a></div>
            <h2 class="magamenu__heading blue">Stay & Play</h2>
            <div class="row">
                <div class="col col--x4 megamenu__primary">
                    <a
                        class="megamenu__featuredlink button--blue"
                        href="/accommodation"
                        target=""
                        >All Play & Stay Events</a
                    >
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="#" target="">Link to Play & Stay Type</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to Play & Stay Type</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to Play & Stay Type</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to Play & Stay Type</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to Play & Stay Type</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to Play & Stay Type</a>
                        </li>
                    </ul>
                </div>

                <div class="col col--x4 megamenu__secondary">
                    <h3>Upcoming Stays</h3>
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="#" target="">link to Name of Venue</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">link to Name of Venue</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">link to Name of Venue</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">link to Name of Venue</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">link to Name of Venue</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">link to Name of Venue</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">link to Name of Venue</a>
                        </li>
                    </ul>
                </div>

                <div class="col col--x4 megamenu__tertiary">
                    <article
                        class="block block block--hasimage block-- block--wtyfeatureinline"
                    >
                        <a href="#" class="block__link">
                            <div class="block__media">
                                <div class="block__image">
                                    <img
                                        src="http://via.placeholder.com/400"
                                        alt=""
                                    />
                                </div>
                                <div class="block__contentouter">
                                    <div class="block__content">
                                        <h3 class="heading--secondary"></h3>
                                        <div class="block__hovercontent"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="megamenu megamenu--inspiration">
        <div class="pagewrapper">
            <div class="megamenu__mobileback chevl"><a href="#">Back</a></div>
            <h2 class="magamenu__heading purple">Events</h2>
            <div class="row">
                <div class="col col--x4 megamenu__primary">
                    <a
                        class="megamenu__featuredlink button--purple"
                        href=""
                        target=""
                        >All Events</a
                    >
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="#" target="">Match Play</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Stroke Play</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Better / Best Ball</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Scramble</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Alternate Shot</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Ryder Cup</a>
                        </li>
                    </ul>
                </div>

                <div class="col col--x4 megamenu__secondary">
                    <h3>Upcoming dates</h3>
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="#" target="">Link to upcoming date</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to upcoming date</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to upcoming date</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to upcoming date</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to upcoming date</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to upcoming date</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" target="">Link to upcoming date</a>
                        </li>
                    </ul>
                </div>

                <div class="col col--x4 megamenu__tertiary">
                    <article
                        class="block block block--hasimage block-- block--wtyfeatureinline"
                    >
                        <a href="#" class="block__link">
                            <div class="block__media">
                                <div class="block__image">
                                    <img
                                        src="http://via.placeholder.com/400"
                                        alt=""
                                    />
                                </div>
                                <div class="block__contentouter">
                                    <div class="block__content">
                                        <h3 class="heading--secondary"></h3>
                                        <div class="block__hovercontent"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div class="megamenu megamenu--about">
        <div class="pagewrapper">
            <div class="megamenu__mobileback chevl"><a href="#">Back</a></div>
            <h2 class="magamenu__heading pink">About</h2>
            <div class="row">
                <div class="col col--x4 megamenu__primary">
                    <a
                        class="megamenu__featuredlink button--pink"
                        href="/about-yorkshire/our-magazines-and-guides"
                        target=""
                        >Our Magazines &amp; Guides</a
                    >
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="/blog" target="_blank"
                                >Blog</a
                            >
                        </li>
                        <li class="menu__item">
                            <a href="#" target=""
                                >Email sign up</a
                            >
                        </li>
                        <li class="menu__item">
                            <a
                                href="/about-yorkshire/getting-around-yorkshire"
                                target=""
                                >Getting Around</a
                            >
                        </li>
                        <li class="menu__item">
                            <a href="https://industry.yorkshire.com/" target=""
                                >WTY Industry Website</a
                            >
                        </li>
                        <li class="menu__item">
                            <a href="/about-yorkshire/group-travel" target=""
                                >Group Travel</a
                            >
                        </li>
                        <li class="menu__item">
                            <a
                                href="/about-yorkshire/group-travel/tour-guides"
                                target=""
                                >Tour Guides</a
                            >
                        </li>
                        <li class="menu__item">
                            <a
                                href="/about-yorkshire/tourist-information-centres-across-yorkshire"
                                target=""
                                >Tourist Information Centres</a
                            >
                        </li>
                        <li class="menu__item">
                            <a
                                href="/about-yorkshire/keeping-yorkshire-special"
                                target=""
                                >Keeping Yorkshire Special</a
                            >
                        </li>
                    </ul>
                </div>

                <div class="col col--x4 megamenu__tertiary">
                    <article
                        class="block block block--hasimage block-- block--wtyfeatureinline">
                        <a href="#" class="block__link">
                            <div class="block__media">
                                <div class="block__image">
                                    <img
                                        src="http://via.placeholder.com/400"
                                        alt=""
                                    />
                                </div>
                                <div class="block__contentouter">
                                    <div class="block__content">
                                        <h3 class="heading--secondary"></h3>
                                        <div class="block__hovercontent"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="megamenu megamenu--search">
        <div class="pagewrapper">
            <form action="/search">
                <fieldset>
                    <div class="formitem formitem--text formitem--nolabel">
                        <label for="term">Search the site</label>
                        <input
                            type="text"
                            id="term"
                            name="term"
                            placeholder="Search the site"
                        />
                    </div>

                    <div class="formitem formitem--submit">
                        <input type="submit" value="Search" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>