description = "Navigation"
==
<nav>
    <div class="mobilemenutrigger">
        <a href="#"><em>Menu </em><span></span></a>
    </div>
    <ul class="menu menu--primary">
        <li class="menu__item menu__item--orange">
            <a href="/golf-clubs" target="" data-ref="places">Golf Clubs</a>
        </li>
        <li class="menu__item menu__item--mint">
            <a href="/open-days" target="" data-ref="thingstodo">Open Days</a>
        </li>
        <li class="menu__item menu__item--blue">
            <a href="/stay-play" target="" data-ref="stay">Stay & Play</a>
        </li>
        <li class="menu__item menu__item--purple">
            <a href="/events" target="" data-ref="inspiration">Events</a>
        </li>
        <li class="menu__item menu__item--purple">
            <a href="/experiences" target="" data-ref="inspiration">Experiences</a>
        </li>
        <li class="menu__item menu__item--pink">
            <a href="/about-yorkshire" target="" data-ref="about">About</a>
        </li>
    </ul>
    <ul class="menu menu--secondary">
        <li class="cta">
            <a
                href="/become-a-member"
                target="_blank"
                class="button button--blue button-fa"
                >Become a Member<i class="fa fa-chevron-right"></i>
            </a>
        </li>

        <li class="map">
            <a href="/map" class="fa fa-map-marker" title="Map"></a>
        </li>
        <li class="search">
            <a href="/search" class="fa fa-search" title="Search"></a>
        </li>
    </ul>
</nav>